@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.navbar{
    height: 50px;
    background-color: bisque;
}

.navbar .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    gap: 20px;
}

.box{
    text-align: center;
}

.box h2{
    border: 1px #333 solid;
}
