@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 3rem;
}
/* Global Classes */

.container{
    text-align: center;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.btn{
    background-color: transparent;
    border-radius: 5px;
    font-size: 0.875rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 10px 20px;
}

.btn:hover{
    transform: scale(0.98);
}

#value{
    font-size: 2rem;
}